@CHARSET "ISO-8859-1";
body {
    background-color: ;
}
div.buttons {
    position: static;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    width: 45%;
}
div.select {
	position: static;
	left:8px;
}
button{
	width: 6em;  
	height: 2em;
}
select{
	width: 6em;
}
textarea{
	position: static;
	width: 45%;
}